.item1 {
  height: 100%;
  width: 67%;
  background: url('../../images/Screen_shot.png');
  background-size: cover;
}
.item2 {
  height: 100%;
  width: 33%;
  background: url('../../images/Screen_shot1.png');
  background-size: cover;
}
.item3 {
  height: 100%;
  width: 35%;
  background: url('../../images/Screen_shot2.png');
  background-size: cover;
}
.item4 {
  height: 100%;
  width: 35%;
  background: url('../../images/Screen_shot3.png');
  background-size: cover;
}
.item5 {
  height: 100%;
  width: 35%;
  background: url('../../images/Screen_shot4.png');
  background-size: cover;
}
.item6 {
  height: 100%;
  width: 35%;
  padding: 20px;
  background: url('../../images/Screen_shot5.png');
  background-size: cover;
}
.item7 {
  height: 100%;
  width: 35%;
  background: url('../../images/Screen_shot6.png');
  background-size: cover;
}
.item8 {
  height: 100%;
  width: 35%;
  background: url('../../images/Screen_shot7.png');
  background-size: cover;
}
.grid-container {
  flex-direction: row;
 display: flex;
 height: 33%;
 width: 60%
 padding: 10px;
}
.grid-container1 {
  flex-direction: row;
 display: flex;
 height: 33%;
 width: 60%
 padding: 10px;
}
.grid-container2 {
  flex-direction: row;
 display: flex;
 height: 33%;
 width: 60%
 padding: 10px;
}

.top-div {
  width: 60%;
  height: 100vh;
  float: left;
}

.top-flex-container {
  flex-direction: row;

}

.bradley-cooper {
  background: url('../../images/Screen_shot8.png');
  width: 40%;
  height: 100vh;
  float: left;
  background-size: cover;
}
